* {
    margin: 0%;
    padding: 0%;
}


.login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 700px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.942);
}

.login p {
    margin-top: 20px;
}

.login a {
    color: blue;
}

.login h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.head {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.head img {
    border: none;
    height: 30px;
    cursor: pointer;
}

.login button {
    padding: 10px;
    border: none;
    background-color: white;
}

#loginform {
    background-color: none;
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#loginform input {
    margin-bottom: 30px;
    font-size: 18px;
    display: block;
    color: white;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: solid 2px white;
    width: 40%;
    outline: none;
}

.login label {
    display: block;
}

#linkertab {
    display: none;
}

@media only screen and (max-width:480px) {
    nav {
        display: flex;

    }

    #close {
        display: none;
    }

    header {
        background-image: none;
        background-image: linear-gradient(rgba(216, 216, 216, 0.925), rgb(255, 255, 255));
    }

    .links {
        display: none;
    }

    .images {
        display: none;
    }

    .header-text {
        width: 90%;
        background-image: none;
    }

    .card {
        margin: 5%;
    }

    .menu {
        display: block;
        padding: 10px;
    }

    .menu img {
        height: 20px;
    }

    .things {
        flex-wrap: wrap;
    }
}