* {
    margin: 0%;
    padding: 0%;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #0F1C25;
    display: flex;
    box-shadow: 0px 10px 10px rgb(255, 255, 255);
    padding: 5px;
    font-size: 15px;
    z-index: 4;
    justify-content: space-evenly;
}

nav ul,
nav span {
    display: flex;
    list-style: none;
    column-gap: 0px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

li,
nav span {
    padding: 10px;
}

.links a,
nav span {
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

nav span img {
    width: auto;
    padding-left: 10px;
}

.logo {
    font-size: 18px;
    padding: 4px;
    height: fit-content;
    color: white;
    border: 2px solid rgb(255, 255, 255);
}

header {
    height: 9cm;
    background-image: url(/images/12.jpg);
    color: white;
    background-size: cover;
    background-position-y: -100px;
    background-position-x: 50px;
    padding-top: 5cm;
}

header h1 {
    text-transform: underline 4px white;
    margin-left: 2cm;
    margin-right: 2cm;
    font-size: 54px;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    background-color: #0f1c25c2;
    backdrop-filter: blur(7px);
    width: 50%;
    margin-left: 25%;

}

header p {

    padding-top: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.quick {
    position: fixed;
    top: 50px;
    overflow-y: scroll;
    background-color: white;
    z-index: 9;
    width: 30%;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    height: 14cm;
}

.use form {
    background-color: rgb(156, 13, 13);
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

input {
    padding: 5px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

.quick img {
    height: 20px;
    float: right;
    position: absolute;
    top: 15px;
    right: 20px;
}

#quick {
    display: none;

}

.quick h3 {
    font-size: 28px;
}

.use {
    display: flex;
    margin-top: 30px;
    flex-direction: column;

}

li span {
    color: white;
    cursor: pointer;
}

.location {
    margin-top: 30px;
}

.states {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 200px;
}

.use a {
    color: white;
    padding: 4px;
    background-color: rgb(202, 16, 16);
    margin: 5px;
    border-radius: 5px;
}

.use-state {
    background-color: rgb(202, 16, 16);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.use-state input {
    margin: 20px;
}

.use-type {
    background-color: rgb(202, 16, 16);
    color: white;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}



.location a {
    color: white;
    padding: 4px;
    background-color: rgb(202, 16, 16);
    margin: 5px;
    width: 42%;
    border-radius: 5px;

}

th {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 2px solid black;
}

td {
    text-align: left;
    text-transform: capitalize;
    padding: 5px;
}

table {
    border: 2px solid black;
    width: 100%;
}

.side-nav,
.side-nav2 {
    position: fixed;
    top: 50px;
    background-color: black;
    width: 5%;
    border: black 2px solid;
    height: fit-content;
    z-index: 5;
    display: flex;
    flex-direction: column;

}

.side-nav img,
.side-nav2 img {
    height: 1cm;
    width: 1cm;
}

.more a {
    color: black;
    font-size: 20px;
    float: right;
}

.icons:hover {
    background-color: rgb(156, 13, 13);
}

.icons {
    display: flex;
    flex-direction: column;
    color: white;
    border-bottom: 2px solid white;
    padding: 20%;
}

.dash-btn {
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    right: 150px;
}

.dash-btn:hover {
    background-color: black;
}

.icons p {
    text-align: center;
    width: 100%;
    margin: 0%;
    padding: 0%;
    margin-left: -10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-image: url(/images/bg-simplify-section-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -80px;
}

.img img {
    height: 5cm;
    border-radius: 20px;
    width: 100%;
}

div.card {
    padding-top: 20px;
    background-color: white;
    width: 250px;
    margin: 10px;
    border: 2px solid #0F1C25;
    border-radius: 5%;
    padding: 10px 7px;
    height: 300px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}

.react {
    margin-top: -160px;
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    justify-content: space-evenly;
}

.react img {
    height: .5cm;
    width: .5cm;
    padding: 10px;
    background-color: rgb(156, 13, 13);
    border-radius: 50%;
}


.react img:hover {
    background-color: black;
}

.things {
    width: 100%;
    position: relative;
}

.upsale {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    overflow-x: scroll;
    padding: 40px;

}

.textbox {
    padding-left: 13px;
}

.things h2 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    margin-left: 20px;
    width: 95%;
    margin-top: 30px;
}

.side-nav2 {
    display: none;
}

.side-nav {
    height: fit-content;
}


.bottom {
    display: flex;
    font-size: 20px;
    padding: 30px;
    flex-wrap: wrap;
    background-color: rgb(156, 13, 13);
    color: white;
    margin-top: 40px;
    justify-content: space-evenly;

}

li:hover {
    border-bottom: 2px solid white;
    transition: all .6s;
}

.bottom li {
    list-style: none;
}

.footlogo {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
}

footer button {
    padding: 10px;
    background-color: white;
    font-size: 18px;
    border: 2px solid black;
}

footer input {
    padding: 12px;
    border-radius: 5px;
    border: none;
}


.cart {
    position: fixed;
    display: none;
    width: 20%;
    top: 8%;
    border-radius: 10px;
    padding: 20px;
    right: 4%;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
    height: 300px;
    background-color: white;
    overflow-y: scroll;
    box-shadow: 0px 10px 20px rgb(114, 114, 114);
}

#close-btn {
    display: none;
}

.card input {
    width: 80px;
    border: none;
    background-color: none;
    font-size: 17px;
}

#menu,
#close {
    display: none;
}
@media only screen and (max-width:480px) {
    * {
        padding: 0%;
        margin: 0%;
    }

    nav {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }

    .sign,
    .logo {
        display: none;
    }

    #menu {
        display: block;
        padding: 8px;
        border-radius: 4px;
        position: absolute;
        right: 10%;
        height: 20px;
        top: 30%;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.753);
        backdrop-filter: blur(5px);
    }

    .dash-btn {
        left: 10%;
        margin-top: 10px;
        right: 0%;
        width: 30px;
        padding: 0%;
        padding: 5px;
        background-color: rgba(68, 68, 68, 0.753);
        backdrop-filter: blur(5px);

    }
    header h1 {
        margin-left: 0%;
        width: 100%;
    }

    .shade {
        display: none;
        width: 100%;
        height: 800px;
        position: fixed;
        background-color: #0f1c25be;
        left: 0%;
    }

    .links ul {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        position: absolute;
        width: 80%;
        left: 6%;
        margin-top: 50px;
        text-align: center;
        z-index: 89;
        padding: 10px;
        background-color: white;
        opacity: 1;
    }


    #menu:hover {
        padding: 3px;
    }

    #close {
        position: absolute;
        top: 7%;
        z-index: 889;
        height: 30px;
        right: 11%;
    }

    .side-nav,
    .side-nav2 {
        width: 17%;
    }

    .links a {
        color: #0F1C25;
        font-size: 25px;
    }


    header {
        background-position: -250px 0px;
        background-size: cover;
        width: 100%;
    }

    .cart {
        width: 80%;
    }

    .quick{
        width: 80%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.404);
        backdrop-filter: blur(7px);
    }
}