* {
    padding: 0%;
    margin: 0%;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #0F1C25;
    display: flex;
    box-shadow: 0px 10px 10px rgb(255, 255, 255);
    padding: 5px;
    font-size: 15px;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    list-style: none;
    column-gap: 0px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

li,
span {
    padding: 10px;
}

a,
span {
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.media {
    background-color: rgb(75, 75, 75);
    color: white;
    width: 6cm;
}

.logo {
    font-size: 18px;
    padding: 4px;
    height: fit-content;
    color: white;
    border: 2px solid rgb(255, 255, 255);
}

#menu,
#menuclose {
    display: none;
}


header {
    height: 8cm;
    padding-top: 5cm;
    background-image: url(/images/12.jpg);
    color: white;
    background-size: cover;
}

header h1 {
    text-transform: underline 4px white;
    margin-left: 2cm;
    margin-right: 2cm;
    font-size: 54px;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

li:hover {
    border-bottom: 2px solid white;
    transition: all .6s;
}

header p {

    padding-top: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

main {
    padding-bottom: 40px;
    background-image: url(/images/bg-simplify-section-desktop.svg);
}

#tite {
    text-align: center;
    color: rgb(151, 43, 43);
    font-size: xx-large;
    padding-top: 40px;
}

.almed {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    flex-wrap: wrap;
}

.media {
    padding: 20px;
    display: grid;
    margin: 15px;
    border: 3px solid brown;
    border-radius: 20px;
}

.almed a {
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    text-align: center;
}

.media:hover {
    background-color: brown;
    color: white;
    padding: 30px;
    margin-bottom: 30px;
    transition: ease-in-out 0.6s;
}

.almed a:hover {
    transition: ease-in-out 0.9s;
}

.media img {
    height: 2cm;
    width: 2cm;
    margin-left: 33%;
}

.login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 700px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.942);
}

.login p {
    margin-top: 20px;
}

.login a {
    color: blue;
}

span {
    cursor: pointer;
}

.login h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.login input {
    border: none;
    border-bottom: 2px solid white;
    border-radius: 5px;
}

.head {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head img {
    border: none;
    height: 30px;
    cursor: pointer;
}

.login button {
    padding: 10px;
    border: none;
    background-color: white;
}

#loginform {
    background-color: none;
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#loginform input {
    margin-bottom: 30px;
    font-size: 18px;
    display: block;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: solid 2px white;
    width: 40%;
}

.login label {
    display: block;
}


#menu,
#close {
    display: none;
}
@media only screen and (max-width:480px) {
    * {
        padding: 0%;
        margin: 0%;
    }

    nav {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .logo {
        display: none;
    }

    #menu {
        display: block;
        padding: 8px;
        border-radius: 4px;
        position: absolute;
        right: 10%;
        height: 20px;
        top: 30%;
        margin-top: 0px;
        background-color: rgba(255, 255, 255, 0.753);
        backdrop-filter: blur(7px);
    }
.reg{
    background-color: rgba(88, 88, 88, 0.753);
        backdrop-filter: blur(5px);
}
    .dash-btn {
        left: 10%;
        position: absolute;
        margin-top: 0px;
        right: 0%;
        width: 30px;
        padding: 0%;
        padding: 5px;
        background-color: rgba(68, 68, 68, 0.753);
        backdrop-filter: blur(5px);

    }
    header {
        height: fit-content;
        background-image: url(/images/bg.png);
        padding-bottom: 20px;
    }

    header h1 {
        background-color: rgba(163, 163, 163, 0.779);
        margin: 0px;
        width: 100%;
    }

    .shade {
        display: none;
        width: 100%;
        height: 800px;
        position: fixed;
        background-color: #0f1c25be;
        left: 0%;
        backdrop-filter: blur(9px);
    }

    .links ul {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        position: relative;
        width: 80%;
        left: 6%;
        margin-top: 50px;
        text-align: center;
        z-index: 89;
        padding: 10px;
        background-color: white;
        opacity: 1;
    }

    .links a {
        color: #0F1C25;
        font-size: 25px;
    }

    main {
        padding: 30px;
        margin-bottom: 90px;
    }
    .logo{
        display: none;
    }

    .almed {
        flex-wrap: wrap;
    }

    #menu,.dashbtn {
        display: block;
        width: 30px;
        height: 30px;
        padding: 4px;
    }

    #close {
        position: absolute;
        top: 7%;
        z-index: 889;
        height: 30px;
        right: 11%;
    }

}