* {
    margin: 0%;
    padding: 0%;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #0F1C25;
    display: flex;
    padding: 5px;
    font-size: 15px;
    flex-wrap: wrap;
    color: white;
    z-index: 4;
    justify-content: space-evenly;
}

li:hover {
    border-bottom: 2px solid white;
    transition: all .6s;
}

nav ul,
nav span {
    color: white;
    display: flex;
    list-style: none;
    column-gap: 0px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

li,
nav span {
    padding: 10px;
    color: white;
}

.links a,
nav span {
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

nav span img {
    width: auto;
    padding-left: 10px;
}

.logo {
    font-size: 18px;
    padding: 4px;
    height: fit-content;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}


.form {
    padding-top: 70px;
    width: 40%;
    text-align: center;
}

h1 {
    font-size: 40px;
    padding: 20px;
}

.form input {
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin-bottom: 20px;
    background-color: white;
    outline: none;
    border: rgb(0, 0, 0) 2px solid;

}


.locate {
    background-image: url(/images/icon-angle-right.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

#town {
    margin-left: -40px;
}

.locate {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.location {
    width: 45%;
    margin-left: 8%;
}

.drop {
    display: flex;
    flex-direction: row;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    padding: 10px;
    margin-left: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -20px;
}

.dropdown-content a {
    color: black;
    padding: 0px 10px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.location:hover .dropdown-content {
    display: block;
}

.images {
    width: 50%;
}


.mainimg video {
    width: 100%;
    height: 9cm;
    border-radius: 20px;
}

#price {
    background-image: url(/images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

.thumbnails {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.thumbimg,
.thumbimg2 {
    height: 1.9cm;
    border-radius: 10px;
}

.thumbimg:hover,
.thumbimg2:hover {
    opacity: .5;
    transition: all .4s;
}

.images {
    margin-top: 150px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#current {
    opacity: 0.4;
    border: rgb(156, 13, 13) solid 3px;
}


.radio {
    display: flex;
    margin-left: 8%;
}

.radio em {
    margin-left: -40px;
}

.radio input {
    width: 100px;
}

.visual-uploads {
    padding: 20px;
    border: #0F1C25 solid 2px;
    border-radius: 20px;
    width: 70%;
    margin-left: 12%;
}

#menu,
#close {
    display: none;
}

@media only screen and (max-width:480px) {
    * {
        padding: 0%;
        margin: 0%;
    }
nav{
    display: none;
}
main{
    width: 100%;
    flex-direction: column;
}
.form{
    width: 180%;
}
.mainimg{
    width: 100%;
}
.thumbnails{
    width: 100%;
}
}