* {
    margin: 0%;
    padding: 0%;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgb(156, 13, 13);
    display: flex;
    padding: 5px;
    font-size: 15px;
    flex-wrap: wrap;
    color: white;
    z-index: 4;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

li:hover {
    border-bottom: 2px solid white;
    transition: all .6s;
}

nav ul,
nav span {
    color: white;
    display: flex;
    list-style: none;
    column-gap: 0px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

li,
nav span {
    padding: 10px;
    color: white;
}

.links a,
nav span {
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

nav span img {
    width: auto;
    padding-left: 10px;
}

.logo {
    font-size: 18px;
    padding: 4px;
    height: fit-content;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

.dash-btn {
    padding: 5px;
    margin-top: 3px;
}

.dash-btn:hover {
    background-color: gray;
}

header {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'raleway';
    margin-bottom: 50px;
}

h1 {
    margin-top: 30px;
    text-decoration: underline;
}

.card {
    width: 80%;
    margin-top: 20px;
    margin-left: 8%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(255, 255, 255);
    height: fit-content;
}

.img img {
    border-radius: 20px;
    height: 250px;
}

.things {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    column-gap: 20px;
    text-align: left;
}

.texters {
    height: 150px;
    padding-bottom: -20px;
    padding: 10px;
}

.texters h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.texters p {
    font-size: 17px;
}

#price {
    padding: 10px;
    font-size: 30px;
    color: rgb(156, 13, 13);
}

button {
    display: flex;
    padding: 13px;
    border: none;
    background-color: rgb(156, 13, 13);
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}

.btn {
    display: flex;
    margin-top: 30px;
    column-gap: 30px;
    float: right;
}


.bottom {
    display: flex;
    font-size: 20px;
    padding: 30px;
    flex-wrap: wrap;
    background-color: rgb(156, 13, 13);
    color: white;
    margin-top: 40px;
    justify-content: space-evenly;

}

.bottom li {
    list-style: none;
}

.footlogo {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
}

footer input {
    padding: 12px;
}